/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
html,body {
	margin:0;
	padding:0;
	height:100%;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img {
	border:0;
}
input {
	border:1px solid #b0b0b0;
	padding:3px 5px 4px;
	width:190px;
	font-size:18;
}
input[type="checkbox"] {

	width:13px;
}
input[type="button"], input[type="submit"] {
	border-radius: 4px;
	background:#ffffff;
	background: -webkit-linear-gradient(#ffffff, #c8e0e8);
	background: -o-linear-gradient(#ffffff, #c8e0e8);
	background: -moz-linear-gradient(#ffffff, #c8e0e8);
	background: linear-gradient(#ffffff, #c8e0e8);
}
input[type="button"], input[type="submit"]:active {
	background:#c8e0e8;
	background: linear-gradient(#c8e0e8, #ffffff);
	background: linear-gradient(#c8e0e8, #ffffff);
	background: linear-gradient(#c8e0e8, #ffffff);
	background: linear-gradient(#c8e0e8, #ffffff);
}
textarea {
	border:1px solid #b0b0b0;
	padding: 3px 5px 4px;
}
address,caption,cite,code,dfn,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
