html, body {
  background: #3c4049;
  color: #fff;
}

.page-wrap > * {
  display: flex;
}

.all-content {
  max-width: 60rem;
  margin-right: auto;
  margin-left: auto;
  background: #2a2c33;
}

/* Header */
.header {
  justify-content: center;
  height: 8rem;
  padding-top: 2rem;
  margin-bottom: 2rem;

  color: #f27d0c;
}

.header > h1 {
  font-size: 2rem;
}

/* Main App */

.main {
  justify-content: center;
}

/* Error Modal */
.modal {
  display: flex;
  position: fixed;
  justify-content: center;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,0.6);
}

.modal > mark {
  position: relative;
  width: 100%;
  height: 2rem;
  margin-top: 40vh;
  text-align: center;
  background: #f27d0c;
  color: #2a2c33;
}

/* Sticky Footer */
html, body, .yew-page-wrap-hack {
  margin: 0;
  height: 100%;
}
.all-content {
  height: 100%;
}
.page-wrap, .yew-page-wrap-hack {
    min-height: 100%;
    margin-bottom: -3rem;
}
.page-wrap::after {
    content: "";
    display: block;
}
.footer, .page-wrap::after {
  height: 3rem;
}
.footer {
  text-align: center;
}
.footer-content {
  padding-top: 1rem;
}
